amazon_movies.txt
*.gz
amazon_movies.txt.gz
*.json
config.py
telegram.py
markov_norder.py
intent/__pycache__/phrases.cpython-36.pyc
intent/__pycache__/find_intent.cpython-36.pyc
intent/__pycache__/__init__.cpython-36.pyc
__pycache__/telegram.cpython-36.pyc
__pycache__/normalization.cpython-36.pyc
__pycache__/find_title.cpython-36.pyc
__pycache__/config.cpython-36.pyc
Chatbot instructions.pdf
.idea/workspace.xml
.idea/vcs.xml
.idea/modules.xml
.idea/misc.xml
.idea/libraries/R_User_Library.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/CCMLWI_chatbot2.iml
.DS_Store
